table {
    width: 100%;
    border-collapse: collapse;
    
}
th, td {
    text-align: center;
}

tr {
    height: 50px; 
    
}

.paginate-button{
    height: 20px;
    cursor: pointer;
    color: #ddd
}

.paginate-button:disabled {
    background-color: #8e688c;
    cursor: default
}
